.projects{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    row-gap: 50px;
    margin-top: 1rem;
    justify-items: center;
    align-items: flex-start;
}

.card{
    min-height: 400px;
    width: 300px;
    background-size: cover;
    background-position: center;
    padding: 9rem 0 0;
    color: white;
    border-radius: 2.5%;
    overflow: hidden;
    transition: transform 400ms ease;
}

.cardContent{
    --padding:1rem;
    padding:var(--padding);
    background: linear-gradient(hsl(0 0% 0% /0) 50%,hsl(0 0% 0% /0.5) 80%,hsl(0 0% 0% /0.7));
    transition: transform 400ms ease;
}

.cardTitle{
    margin: 0 0 1rem 0;
    position: relative;
    width: max-content;
}

.cardTitle::after{
    position: absolute;
    content: "";
    display: block;
    width: calc(100% + var(--padding));
    height: 0.3rem;
    background-color: #fff;
    margin: 0 0 1rem 0;
    bottom: -1.5rem;
    left: calc(var(--padding) * -1) ;
    transform-origin: left;
    transition: transform 400ms ease;
}

.cardLink{
    margin: 1rem 0 0 0;
    color: #fff;
}

.cardContent{
    transform: translateY(0%);
    transition: transform 400ms ease;
}

.cardTitle::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 400ms ease;
}

@media (hover) {
    .cardContent{
        transform: translateY(80%);
    }

    .cardTitle::after{
        transform: scaleX(0);
    }

    .cardContent > *:not(.cardTitle){
        opacity: 0;
        transition: opacity 400ms ease;
    }
    
    .card:hover,
    .card:focus-within{
        transform: scale(1.02);
    }

    .card:hover .cardTitle::after,
    .card:focus-within .cardTitle::after{
        transform: scaleX(1);
    }

    .card:hover .cardContent > *:not(.cardTitle),
    .card:focus-within .cardContent > *:not(.cardTitle){
        opacity: 1;
        transition-delay: 800ms;
    }

    .card:hover .cardContent,
    .card:focus-within .cardContent{
        transform: translateY(0%);
        transition-delay: 400ms;
    }
}
