.projects{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    row-gap: 50px;
    margin-top: 1rem;
    justify-items: center;
    align-items: flex-start;
}
